.cart-table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.cart-table img {
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 6px;
}
